body {
  text-align: center;
}
img {
  height: 500px;
  width: auto;
}

.bg0 {
  background: coral;
}

.bg1 {
  background: #00ffbf;
}

.bg2 {
  background: blueviolet;
}

.lg {
  border: 2px solid lightblue;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-sizing: border-box;
}
